<h1>List Your Junk</h1>
<%= form_for :article, url: '/articles', :html => {:class => 'new-article-form'} do |f| %>
	<%= f.text_field :title, placeholder: 'item name' %><br>
	<%= f.text_area :description, placeholder: 'item description' %><br>
	$<%= f.text_field :price, placeholder: 'price' %><br>
	<%= f.text_field :condition, placeholder: 'condition' %><br>
	<%= f.text_field :location, placeholder: 'location' %><br>
	<%= f.collection_select :category_id, Category.all, :id, :name%><br>
	<%= f.submit "Submit" %>
<% end %>