<h1>Posted Article:</h1>

	<h3><%= @article.title %></h3>
	<%= @article.description %><br>
	$<%= @article.price %><br>
	<%= @article.condition %><br>
	<%= @article.location %><br>
	Listed by: <%= @user.username %><br>
	<% if logged_in? %>
	Contact information: <%= @user.email %>
	<% end %>
<div>
<% if logged_in? && @article.user_id == current_user.id %> 
<%= link_to 'Edit Listing', edit_article_path %><br>
	 <%= link_to 'Delete Listing', {:controller=>:articles,:action=>:destroy, :id=>@article}, :method=>:delete %>
<% end %>
</div>